html, body {
    min-height:100vh;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-size:16px;

}

.free-tier { 
    width: calc(0.2 * 100vw);
    border:2px solid hsl(322, 100%, 66%);
    font-size:1rem;
    background-color:none;
    
}

div, h1, h2, p, img {
    margin-top:0px !important;
    margin-bottom:0px !important;
    padding-top:0px !important;
    padding-bottom:0px !important;
}

h1, h2 {
    font-family: 'Poppins', sans-serif;
}

.secondSection , .fifthSection , .sixthSection {
    margin-top:125px !important;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-weight:400;
}

.free-blob {
    width:250px;
    height:60px;
    background-color: hsl(322, 100%, 66%);
    color:white;
}

.visible {
    background-color:yellowgreen;
}

@media (min-width:400px) and (max-width:576px) {
    .free-tier {
        font-size:0.7rem;
    }
}

@media (max-width:400px) {
    .free-tier {
        font-size:0.5rem;
    }
}

.growSection, .UsersSection {
    background-color: hsl(207, 100%, 98%);
}

.growSection h2 {
    margin-top:75px !important;
}

.growSection p {
    font-size:0.8rem;
}

.convContainer img, .convContainer p {
    margin-bottom:75px;
}

.footerSection {
    background-color:hsl(192, 100%, 9%);
}

.footerSection img, .footerSection p {
    color:white;
    font-size:0.7rem;
}

h3 {
    color:#FFFFFF;
}

.free-blob-footer {
    width:150px;
    height:50px;
    background-color: hsl(322, 100%, 66%);
    color:white;
}

@media (max-width:576px) {
    .footerSection p {
        font-size:1rem;
    }
    
}

.emailfield {
    height:50px;
}

@media (max-width:992px) {
    .emailfield {
        width:100%;
    }
    .emailSub {
        width:50%;
    }
}

@media (min-width:992px) {
    .emailfield {
        width:60%;
    }
    .emailSub {
        width:30%;
    }
}

@media (min-width:992px) {
    #content1::after {
        content:"\a";
        white-space:pre;
    }
    #content2::after {
        content:"\a";
        white-space:pre;
    }
}

